.box-shop {
  width: 100%;
}
.box-shop .box-product {
  width: 100%;
  display: contents;
}
.box-shop .box-product .box-anh-detail {
  width: 50%;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box-shop .box-product .box-anh-detail .box-emty {
  height: 20px;
  width: 100%;
  position: relative;
}
.box-shop .box-product .box-anh-detail swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.box-shop .box-product .box-anh-detail .mySwiper {
  height: 75%;
  width: 100%;
}
.box-shop .box-product .box-anh-detail .mySwiper img {
  background-color: black;
  height: 535px;
}
.box-shop .box-product .box-anh-detail .mySwiper2 {
  height: 20%;
  box-sizing: border-box;
}
.box-shop .box-product .box-anh-detail .mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.box-shop .box-product .box-anh-detail .mySwiper2 swiper-slide:nth-child(2n) img {
  padding-left: 10px;
}
.box-shop .box-product .box-anh-detail .mySwiper2 swiper-slide:nth-child(3n) img {
  padding-left: 10px;
}
.box-shop .box-product .box-anh-detail .mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}
.box-shop .box-product .box-anh-detail swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-shop .box-product .box-anh-detail .box-4-detail-doc {
  width: 10%;
}
.box-shop .box-product .box-anh-detail .box-4-detail-doc img {
  width: 115px;
  height: auto;
  padding-top: 20px;
}
.box-shop .box-product .box-anh-detail .box-4-detail-doc-2 {
  display: none;
  width: 10%;
}
.box-shop .box-product .box-anh-detail .box-4-detail-doc-2 img {
  width: 115px;
  height: auto;
  padding-top: 20px;
}
.box-shop .box-product .box-text-detail {
  width: 50%;
  padding-left: 25px;
}
.box-shop .box-product .box-text-detail .name-d {
  font-size: 30px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
}
.box-shop .box-product .box-text-detail .price-d {
  color: var(--cam-sam);
  font-weight: 800;
}
.box-shop .box-product .box-text-detail .title-d {
  font-weight: 200;
  padding: 25px 0;
  color: var(--xam-khoi);
  font-size: 17px;
}
.box-shop .box-product .box-text-detail input[type=number] {
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  position: relative;
  padding: 10px;
  width: 100px;
  margin-right: 15px;
}
.box-shop .box-product .box-text-detail input[type=number]::-webkit-inner-spin-button,
.box-shop .box-product .box-text-detail input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.box-shop .box-product .box-text-detail input[type=number]::-webkit-outer-spin-button,
.box-shop .box-product .box-text-detail input[type=number]::-webkit-inner-spin-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.box-shop .box-product .box-text-detail button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  background-color: var(--cam-sam);
  color: white;
  transition: all 0.3s ease-in-out;
  margin-bottom: 100px;
}
.box-shop .box-product .box-text-detail button:hover {
  background-color: var(--den-mo);
  transition: all 0.3s ease-in-out;
}
.box-shop .box-product .box-text-detail .ma-sp-d {
  padding-top: 25px;
  border-top: 1px solid #e1e1e1;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
}
.box-shop .box-product .box-text-detail .ma-sp-d span {
  color: var(--xam-khoi);
  font-weight: 600;
}
.box-shop .box-product .box-text-detail .ma-sp-d span:hover {
  color: var(--cam-sam);
}
.box-shop .box-product .box-text-detail .cate-d {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
}
.box-shop .box-product .box-text-detail .cate-d span {
  color: var(--xam-khoi);
  font-weight: 600;
}
.box-shop .box-product .box-text-detail .cate-d span:hover {
  color: var(--cam-sam);
}
.box-shop .box-product .box-text-detail .tag-d {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
}
.box-shop .box-product .box-text-detail .tag-d span {
  color: var(--xam-khoi);
  font-weight: 600;
}
.box-shop .box-product .box-text-detail .tag-d span:hover {
  color: var(--cam-sam);
}
.box-shop .box-product .made-with {
  background: #fd264f;
  color: black;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}
.box-shop .box-product .documentation {
  color: #fd264f;
}
.box-shop .box-product button:focus,
.box-shop .box-product input:focus,
.box-shop .box-product textarea:focus,
.box-shop .box-product select:focus {
  outline: none;
}
.box-shop .box-product .tabs {
  display: block;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}
.box-shop .box-product .tabs [class^=tab] label,
.box-shop .box-product .tabs [class*=" tab"] label {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 17px;
  font-weight: 900;
  line-height: 1em;
  padding: 2rem 0;
  text-transform: uppercase;
}
.box-shop .box-product .tabs [class^=tab] [type=radio],
.box-shop .box-product .tabs [class*=" tab"] [type=radio] {
  border-bottom: 1px dashed rgba(196, 192, 196, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.box-shop .box-product .tabs [class^=tab] [type=radio]:hover,
.box-shop .box-product .tabs [class^=tab] [type=radio]:focus,
.box-shop .box-product .tabs [class*=" tab"] [type=radio]:hover,
.box-shop .box-product .tabs [class*=" tab"] [type=radio]:focus {
  border-bottom: 1px dashed #fd264f;
}
.box-shop .box-product .tabs [class^=tab] [type=radio]:checked,
.box-shop .box-product .tabs [class*=" tab"] [type=radio]:checked {
  border-bottom: 3px solid #fd264f;
}
.box-shop .box-product .tabs [class^=tab] [type=radio]:checked + div,
.box-shop .box-product .tabs [class*=" tab"] [type=radio]:checked + div {
  opacity: 1;
}
.box-shop .box-product .tabs [class^=tab] [type=radio] + div,
.box-shop .box-product .tabs [class*=" tab"] [type=radio] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  transition: all 0.3s ease-in-out;
}
.box-shop .box-product .tabs .tab-2 {
  width: 50%;
  color: var(--xam-khoi);
  font-weight: 300;
  font-size: 17px;
}
.box-shop .box-product .tabs .tab-2 [type=radio] + div {
  width: 200%;
  margin-left: 200%;
}
.box-shop .box-product .tabs .tab-2 [type=radio]:checked + div {
  margin-left: 0;
  display: block;
}
.box-shop .box-product .tabs .tab-2:last-child [type=radio] + div {
  margin-left: 100%;
}
.box-shop .box-product .tab-2:last-child [type=radio] + div {
  display: none;
}
.box-shop .box-product .tabs .tab-2:last-child [type=radio]:checked + div {
  margin-left: -100%;
}
.box-shop .box-product .feedback-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 500px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}
.box-shop .box-product .feedback-container .rating-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}
.box-shop .box-product .feedback-container .rating-container .far {
  transform: translateX(0);
  transition: transform 0.2s;
}
.box-shop .box-product .feedback-container .rating-container .fa-star {
  color: lightgray;
  cursor: pointer;
}
.box-shop .box-product .feedback-container .rating-container .fa-star.active {
  color: gold;
}
.box-shop .box-product .feedback-container .emoji-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}
.box-shop .box-product .feedback-container .emoji-container .far {
  transform: translateX(0);
  transition: transform 0.2s;
}
.box-shop .box-product .feedback-container .emoji-container .fa-star {
  color: lightgray;
  cursor: pointer;
}
.box-shop .box-product .feedback-container .emoji-container .fa-star.active {
  color: gold;
}
.box-shop .box-product .reviews p {
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  padding: 30px 0 55px;
}
.box-shop .box-product .box-review button {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  background-color: var(--cam-sam);
  color: white;
  transition: all 0.3s ease-in-out;
  margin-bottom: 60px;
}
.box-shop .box-product .box-review button:hover {
  background-color: var(--den-mo);
  transition: all 0.3s ease-in-out;
}
.box-shop .box-product .box-review p {
  color: black;
  padding-top: 50px;
}
.box-shop .box-product .box-review p span {
  color: red;
  font-weight: 600;
}
.box-shop .box-product .box-review textarea {
  padding: 30px;
  border: none;
  background-color: #F7F7F7;
  width: 100%;
}
.box-shop .box-product .box-review input {
  padding: 10px 20px;
  border: none;
  background-color: #F7F7F7;
  width: 100%;
}
.box-shop .box-product .card-product {
  margin-bottom: 65px;
  width: 100%;
}
.box-shop .box-product .card-product .card-product-content {
  width: calc(25% - 25px);
}

:root {
  --cam-sam: #f34e3a;
  --xam-khoi: #9C9C9C;
  --den-mo: #29282d;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen {
  .box-shop .box-product .box-text-detail input[type=number]::-webkit-inner-spin-button,
  .box-shop .box-product .box-text-detail input[type=number]::-webkit-outer-spin-button {
    height: 100%;
    width: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .box-shop {
    padding-left: 55px;
    padding-right: 55px;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .box-shop {
    padding-left: 55px;
    padding-right: 55px;
    width: 100%;
  }
  .box-shop .box-product .box-anh-detail {
    width: 100%;
  }
  .box-shop .box-product .box-text-detail {
    width: 100%;
    padding-left: 0;
  }
  .box-shop .box-product .box-text-detail input[type=number]::-webkit-inner-spin-button,
  .box-shop .box-product .box-text-detail input[type=number]::-webkit-outer-spin-button {
    height: 100%;
    width: 20px;
  }
  .box-shop .box-product .card-product {
    width: 100%;
  }
  .box-shop .box-product .card-product .card-product-content {
    width: calc(50% - 25px);
  }
}
@media screen and (max-width: 900px) {
  .box-shop {
    padding-left: 55px;
    padding-right: 55px;
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .box-shop {
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .box-shop .box-product .box-anh-detail {
    width: 100%;
  }
  .box-shop .box-product .box-text-detail {
    width: 100%;
    padding-left: 0;
  }
  .box-shop .box-product .card-product {
    width: 100%;
  }
  .box-shop .box-product .card-product .card-product-content {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 600px) {
  .box-shop .box-product .feedback-container {
    width: 90%;
  }
}
@media screen and (max-width: 510px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    left: 73.5%;
    bottom: 20%;
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    left: 72%;
    bottom: 20%;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    left: 71%;
    bottom: 20%;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    left: 70%;
    bottom: 20%;
    width: 100%;
  }
}
@media screen and (max-width: 405px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    left: 64%;
    bottom: 20%;
    width: 100%;
  }
}
@media screen and (max-width: 365px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    left: 62.5%;
    bottom: 20%;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .box-shop .box-product .box-text-detail button {
    margin-bottom: 80px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 338px) {
  .box-shop .box-product .feedback-container .rating-container {
    position: absolute;
    left: 58%;
    bottom: 20%;
    width: 100%;
  }
}/*# sourceMappingURL=detail.css.map */